name: CI
on: 
  push:
    branches:
      - main #here we choose to deploy only when a push is detected on the main branch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
    - name: create file
      run: |
        ls -la ~/
        mkdir ~/.log
        printf "Hello\nWorld\n" > ~/.log/log.txt
        ls -la ~/.log
    # Here you could add some building steps if you were dealing with some angular/react/Vue...
    # - name: Build static site
    #  run: yarn install && npm run-script build
    
    - name: Deploy static site to S3 bucket
      run: aws s3 sync ./ s3://${{ secrets.AWS_BUCKET_NAME }} --delete

    - name: Logging
      run: aws s3 sync ~/.log/log.txt s3://${{ secrets.AWS_BUCKET_NAME }}